@font-face {
  font-family: flappy;
  src: url(../resources/fonts/flappy-bird.ttf);
  font-weight: normal;
  font-style: normal;
}

.wrapper-menu {
  position: absolute;
  z-index: 1;
  left: 35%;
  top: 20%;
}

.wrapper-scoreBoard {
  position: absolute;
  z-index: 1;
  left: 0%;
  top: 0%;
}

.menu-text {
  color: #14f56a; /* White text */
  font-family: "flappy";
  font-size: 60px;
  font: bolder;
  padding: 10px 24px; /* Some padding */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}
.menu-item {
  background-color: #14f56a; /* Green background */
  border: 1px solid #409ac4; /* Green border */
  color: #409ac4; /* White text */
  font-family: "flappy";
  font-size: 60px;
  font: bolder;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

/* Clear floats (clearfix hack) */
.menu-item:after {
  content: "";
  clear: both;
  display: table;
}

.menu-item:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.menu-item:hover {
  background-color: #1080b4;
} 
